<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cruz.sergio.myproteinpricechecker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".DetailsActivityMyprotein"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".DetailsActivityProzis"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".DetailsActivityBulkPowders"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".DetailsActivityMyvitamins"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity">
        </activity>


        <provider
            android:name=".helper.DBProvider"
            android:authorities="com.cruz.sergio.myproteinpricechecker"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true">
        </provider>

        <service
            android:name=".helper.FirebaseJobservice"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".helper.AutoStartAlarm"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>

        </receiver>

        <receiver
            android:name=".helper.Alarm"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.cruz.sergio.myproteinpricechecker.ACTION_ALARM"/>
            </intent-filter>

        </receiver>


    </application>

</manifest>